<h2>商品詳細</h2>
<%= form_with model:@item,url:admin_items_path, local:true do |f|%>
    <table>
        <tr>
            <td>
                <%= f.label :image, '商品画像' %>
            </td>
            <td>
                <%= f.attachment_field :image %>
            </td>
        </tr>
        <tr>
            <td>
                <%= f.label :name, '商品名' %>
            </td>
            <td>
                <%= f.text_field :name,:placeholder => "商品名" %>
            </td>
        </tr>
        <tr>
            <td>
                <%= f.label :introduction, '商品説明' %>
            </td>
            <td>
                <%= f.text_area :introduction,:placeholder =>"ここに説明文を記述します" %>
            </td>
        </tr>
        <tr>
            <td>
                <%= f.label :genre_id, 'ジャンル' %>
            </td>
            <td>
                <%= f.collection_select :genre_id,
                    @genres.all,
                    :id,
                    :name,
                    include_blank: "-- 選択して下さい --"
                    %>
            </td>
        </tr>

        <tr>
            <td>
                <%= f.label :price, '税抜価格' %>
            </td>
            <td>
                <%= f.text_field :price,:placeholder => 1000 %>円
            </td>
        </tr>
        <tr>
            <td>
                <%= f.label :is_active, '販売ステータス' %>
            </td>
            <td>
                <%= f.radio_button :is_active,true %>販売中
                <%= f.radio_button :is_active,false %>販売停止中
            </td>
        </tr>
    </table>
    <%= f.submit '新規登録' %>
<% end %>