<div class="customers_edit_container admin_customers_edit_container">
  <h2><%= @customer.last_name+@customer.first_name %>さんの会員情報編集</h2>

  <%= form_with model: @customer, url: admin_customer_path, local: true do |f| %>
    <table class="customers_edit_table admin_customers_edit_table">
      <tr>
        <th>会員ID</th>
        <td><%= @customer.id %></td>
      </tr>
      <tr>
        <th>氏名</th>
        <td><%= f.text_field :last_name %></td>
        <td></td>
        <td><%= f.text_field :first_name %></td>
        <td></td>
      </tr>
      <tr>
        <th>フリガナ</th>
        <td><%= f.text_field :last_name_kana %></td>
        <td></td>
        <td><%= f.text_field :first_name_kana %></td>
        <td></td>
      </tr>
      <tr>
        <th>郵便番号</th>
        <td><%= f.text_field :postal_code %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>住所</th>
        <td colspan="4"><%= f.text_area :address,class:"address_box" %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= f.text_field :telephone_number %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= f.email_field :email %></td>
      </tr>
      <tr>
        <th>会員ステータス</th>
        <td>
          <%= f.radio_button :is_deleted,false,class:"is_active_true" %>有効
          <%= f.radio_button :is_deleted,true,class:"is_active_false" %>退会
        </td>
      </tr>
      <tr>
        <th></th>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <%= f.submit "変更を保存",class:"btn btn_green admin_customers_edit_btn" %>
        </td>
      </tr>
    </table>
  <% end %>
</div>