<div class="customers_edit_container admin_customers_edit_container">
  <h2><%= @customer.last_name+@customer.first_name %>さんの会員詳細</h2>

  <table class="customers_edit_table">
    <tr>
      <th>会員ID</th>
      <td><%= @customer.id %></td>
    </tr>
    <tr>
      <th>氏名</th>
      <td><%= @customer.last_name + @customer.first_name %></td>
    </tr>
    <tr>
      <th>フリガナ</th>
      <td><%= @customer.last_name_kana + @customer.first_name_kana %></td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><%= @customer.postal_code %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td><%= @customer.telephone_number %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @customer.email %></td>
    </tr>
    <tr>
      <th>会員ステータス</th>
      <td>
        <% if @customer.is_deleted %>
          <p class="is_active_false">退会</p>
        <% else %>
          <p class="is_active_true">有効</p>
        <% end %>
      </td>
    </tr>
    <tr>
      <th> </th>
      <td> </td>
    </tr>
    <tr>
      <th></th>
      <td>
        <%= link_to "編集する",edit_admin_customer_path(@customer),class:"btn btn_green customers_edit_btn" %>
        <%= link_to "注文履歴一覧を見る",root_path,class:"btn btn_blue customers_edit_btn admin_customers_btn" %>
      </td>
    </tr>
  </table>
</div>