<div class="items_index_container">
  <div class="items_index_genre_bar">
    <table>
      <tr>
        <th>ジャンル検索</th>
      </tr>
      <% @genres.each do |genre| %>
        <tr>
          <td>
            <%= link_to genre.name,root_path %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <%= form_with model:@cart_item,url:cart_items_path, local:true do |f| %>
    <div class="items_show_item_container">
      <div>
        <%= attachment_image_tag @item,:image , format: 'jpeg', size: "280x180" %>
      </div>
      <div class="items_show_item_content">
        <div class="items_show_item_text">
          <h1><%= @item.name %></h1>
          <%= f.hidden_field :item_id, value: @item.id %>
          <p><%= @item.introduction %></p>
        </div>
        <p class="price">¥<%= @item.with_tax_price.to_s(:delimited) %><span> (税込)</span></p>
        <div class="items_show_item_select_btn">
          <%= f.select :amount,
                *[1..10 ],
                :prompt => "個数選択"
                %>
          <%= f.submit "カートに入れる" ,class: "btn btn_green"%>
        </div>
      </div>
    </div>
  <% end %>
</div>